nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: rgb(255, 255, 255);
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150;
    height: auto;
    border: 1px solid blanchedalmond;
    padding: 2px;
    box-shadow: 0 0 30px rgb(80, 80, 80);
}

p {
    padding:  10px;
}

